*{
    margin: 0;
    box-sizing: border-box;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #555;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color:white ;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #deb887;;
    color:#f8f3e6;
  }
  
  li a:hover:not(.active) {
    background-color: #4d0d15;
    color: white;
  }
  .row{
    margin-left:25%;
    padding:1px 16px;
    height:100vh;
  }
  .row{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(34, 11, 11);
  }
.column{
  margin: 10px;
    padding: 25px;
    float: left;
    width: 20%;
    height: 450px;
    background-color: antiquewhite;
    border-radius: 15px;
  }
  .content1,  .content2{
    color: #4d0d15;
    margin: 10px;
    padding: 10px;
    

  }
  h3{
    font-weight: lighter;
    font-family: 'Aboreto';
    font-size: 22px;
    padding: 10PX;
  }
  h2{
    font-family: 'Akronim';
    font-size: 22px;
  }
  h1{
    font-family: 'Alegreya';
    padding: 15PX;
    font-size: larger;
  }
  p{
    font-family: 'Advent Pro';
    font-size: 20px;
  }
  
  
  .middle{
    width: 35%;
    height: 450px;
    position: relative;
    border: 3px solid ;
  }
  .middle img{
  position: absolute;
    border-radius: 50%;
    top: 5px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media only screen and (max-width:600px) { 
    .row{
      width: 100%;
      height: auto;
      justify-content: center;
      align-items: center;
        display: flex;
        flex-direction:column;
    }
    .column{
      margin: 20px;
      padding:15px;
      padding-right: 5%;
      justify-content: center;
      align-items: center;
      width:70%;
    }
    .left{
      justify-content: center;
      padding: 50px;
    }
    .middle img{
      width: 200px;
    }
  }